@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-slideshow-image/dist/styles.css";
/* extended base styles */
@layer base {
  @font-face {
    font-family: Raleway;
    font-weight: 400;
    src: url(../fonts/Raleway-Regular.ttf) format("tff");
  }
  @font-face {
    font-family: Raleway;
    font-weight: 500;
    src: url(../fonts/Raleway-Medium.ttf) format("tff");
  }
  @font-face {
    font-family: Roboto_Condensed;
    font-weight: 400;
    src: url(../fonts/RobotoCondensed-Regular.ttf) format("tff");
  }
  @font-face {
    font-family: Roboto_Condensed;
    font-weight: 700;
    src: url(../fonts/RobotoCondensed-Bold.ttf) format("tff");
  }
  :root {
    @apply font-body;
    @apply font-light;
  }
}
/* featured homes */
.bxshdw {
  box-shadow: 6px 5px 13px gray;
}
/* featured homes description icons */
.icon-feat {
  display: inline-flex;
  width: 2vw;
  height: 2vh;
}
.special-icon-feat {
  display: inline-flex;
  width: 39vw;
  height: 2vh;
}
/* slide show */
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}
.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
/* responsive styling */
@media screen and (min-width: 768px){
  /* hero bg image downward chevron */
  .clip-hero {
    clip-path: polygon(0px 0px, 100% 0px, 100% 30%, 99.74% 91.19%, 48.99% 99.71%, 48.94% 99.71%, 1px 91.61%, 0px 30%);
  }
  /* featured homes description icons */
  .special-icon-feat {
    display: inline-flex;
    width: 7vw;
    height: 2vh;
  }
}
