@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Raleway;
    font-weight: 400;
    src: url(../fonts/Raleway-Regular.ttf) format("tff");
  }
  @font-face {
    font-family: Raleway;
    font-weight: 500;
    src: url(../fonts/Raleway-Medium.ttf) format("tff");
  }
  @font-face {
    font-family: Roboto_Condensed;
    font-weight: 400;
    src: url(../fonts/RobotoCondensed-Regular.ttf) format("tff");
  }
  @font-face {
    font-family: Roboto_Condensed;
    font-weight: 700;
    src: url(../fonts/RobotoCondensed-Bold.ttf) format("tff");
  }

  :root {
    @apply font-body;
    @apply font-light;
  }
}

.bxshdw {
  box-shadow: 6px 5px 13px gray;
}

@media screen and (min-width: 768px){
  .clip-hero {
    clip-path: polygon(0px 0px, 100% 0px, 100% 30%, 99.74% 91.19%, 48.99% 99.71%, 48.94% 99.71%, 1px 91.61%, 0px 30%);
  }
}
